---
import "../styles/global.css";
import "../styles/style.css";
import "../../node_modules/remixicon/fonts/remixicon.css";

if (Astro.response) {
  Astro.response.headers.set("Content-Type", "text/html; charset=utf-8");
}
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="relative h-full bg-[#180000]">
    <div
      class="fixed h-full w-full inset-0 bg-[url('/mosaico.png')] bg-repeat bg-auto z-0 opacity-20 pointer-events-none"
    >
    </div>

    <div class="relative z-10">
      <slot />
    </div>
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
